# Dependencies
node_modules/
bun.lock
package-lock.json

# Build output
.storybook-static/
dist/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Environment
.env
.env.local
